/**
 * Section
 *
 */
.Section {
	@include padding( top #{ $base-line-height * 4 }px bottom #{ $base-line-height * 4 }px );

	// .Section__title
	&__title {
		@extend %font-weight-regular, %margin-top-0, %font-family-body;
	}


	// .Section__illustration
	&__illustration {
		@extend .d-inline-block;
		@extend %vertical-align-middle;
		@include margin( right auto bottom #{ $base-line-height }px left auto );
		@include size( 100% );

		max-height: #{ $base-line-height * 9 }px;
		object-fit: contain;
		object-position: center;

		@include media-breakpoint-up( md ) {
			@include margin( bottom 0 );
		}
	}

	&__items {
		@include margin( bottom -2px );

		border-bottom: 2px solid the_color( gray, light );
	}


	// .Section__link
	&__link {
		@extend %font-weight-bold;

		color: currentColor;
	}


	// .Section__url
	&__url {
		@include size( #{ $base-line-height * 2 }px );
		@extend .d-flex, .align-items-center, .justify-content-center;

		border: 2px solid the_color( gray, light );
		border-radius: #{ $base-line-height }px;
		min-width: #{ $base-line-height * 2 }px;

		img {
			@extend %margin-bottom-0;

			fill: the_color( blue, very-dark-02 );
		}

		&--right {
			img {
				@include size( 9px, #{ $base-line-height / 2 }px );
			}
		}

		&--down {
			img {
				@include size( #{ $base-line-height / 2 }px, 9px );
			}
		}
	}

	&__horizontal-line {
		@include margin( bottom #{ $base-line-height }px );

		@include size( 100%, 2px );
		@extend %margin-md-0;

		background-color: the_color( gray, light );
		border: none;
	}
}
