/**
 * Text
 *
 */
.Text-image {
	$this: &;

	color: the_color( blue, very-dark-01 );

	&__items {
		@include margin( bottom #{ $base-line-height * 3.5 }px );
	}

	&__title {
		@extend %font-weight-bold;

		font-size: $base-font-size-px * power( $scale-factor, 1 );
	}

	&__content {
		font-size: $base-font-size-px * power( $scale-factor, 2 );
		line-height: #{ $base-line-height * 2 }px;
		white-space: pre-line;
	}
}
